body, button, input, textarea {
  color: #43454b;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.617924em;
  line-height: 1.214;
}

h2 {
  font-size: 2em;
  line-height: 1.214;
}

/*.admonition {*/
  /*background-color: rgba(10, 10, 10, .05);*/
/*}*/

/*****************************************************************************
 * TP blue and orange
 *****************************************************************************/
.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5, .md-typeset h6 {
  color: #004790;
}
.md-typeset a {
  color: #f39c12;
}

/*****************************************************************************
 * make the standard admonition use TP-blue
 *****************************************************************************/
.md-typeset .admonition,.md-typeset details {
  border-left: .4rem solid #004790;
}
.md-typeset .admonition>.admonition-title:before,.md-typeset .admonition>summary:before,.md-typeset details>.admonition-title:before,.md-typeset details>summary:before {
  color: #004790;
}

/*****************************************************************************
 * get a larger logo and shift the topic to the right
 *****************************************************************************/
/* hide the default logo */
.md-header-nav__button.md-logo img {
  display: none;
}
nav.md-header-nav.md-grid {
  background: url("https://thingpulse.com/assets/ThingPulse.svg") no-repeat;
  background-position-x: 17px;
  background-position-y: 5px;
  background-size: 100px;
}
/* shift the topic to the right as the logo needs more space than the default 24x24 logo */
.md-header-nav__topic {
  max-width: 590px;
  margin-left: 90px;
}

/*****************************************************************************
 * ESPaper Calendar guide
 *****************************************************************************/
div#espcal-config {
  overflow: hidden;
}

div#espcal-config img {
  width: 220px;
  margin: 0 25px 20px 0;
  float: left;
}
